*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #edede9;
}

.my-todo {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  background: #fff;
  box-shadow: 3px 3px 20px #888;
}

.title-div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #dedbd2;
}

.form-control {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dedbd2;
}

label {
  display: none;
}

.to-do {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
}

::-webkit-input-placeholder {
  font-style: italic;
}

article {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #dedbd2;
}

.inp-p {
  display: flex;
  gap: 20px;
}

.icons {
  display: flex;
  gap: 30px;
}

.fa-ellipsis-vertical {
  cursor: pointer;
}

.hide-optionBtn {
  display: none;
}

.fa-trash {
  display: none;
  cursor: pointer;
}

.show-trash {
  display: inline-block;
}

.clear {
  padding: 10px;
  background: #edede9;
  text-align: center;
}

.clear-btn {
  border: none;
  outline: none;
  font-size: 25px;
  color: #888;
  cursor: pointer;
}

.list-container {
  display: none;
}

.show-container {
  display: block;
}

.edit-input {
  width: 30em;
  border: none;
  outline: none;
  background: #e9d8a6;
}

.hide {
  display: none;
}

.edit-article {
  background: #e9d8a6;
}
